body {
	
	background-color: black;
	vertical-align: center;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	background-image: url("https://dviw3bl0enbyw.cloudfront.net/uploads/forum_attachment/file/35185/blion.jpg");

}

h1 {
	text-align: center;
	color: navy;
}

button {
	color: red;
	text-align: center;
	padding-top: 5px;
	font-size: 18px;
	padding-bottom: 5px;	
	margin-right: 5px;
	margin-left: 5px;
	background-color: #2f2f2f;
	
}

h2 {
	font-size: 24px;
	color: green;
}

p {
	font-size: 16px;
	color: red;
}


/*#twitHandle {
	color: red;
	font-size: 20px;
	font-style: italic;
	padding-top: 10px;
	padding-bottom: 3px;
}

#twitText {
	border: 4px;
	border-color: gray;
	color: red;
	font-size: 16px;
}
*/